.vscode/
output/*
.DS_Store
*.xlsx
*.xls
models/DCRNN/data/*
!models/DCRNN/data/model
!models/DCRNN/data/sensor_graph
models/DCRNN/data/model/*
models/DCRNN/data/sensor_graph/*
!models/DCRNN/data/model/*template*.yaml

var/*.csv
var/*.h5
var/*.txt
__init__.pyc
__pycache__/
model_output
piplines
metadata
flask_out
saved_model
logs
*.out
.pytest_cache
.ipynb_checkpoints
var/
cmd.txt